<div style="float: right" class="fs-row.gap-xs.wrap">
  <button mat-raised-button (click)="expandAll()">Expand All</button>
  <button mat-raised-button (click)="collapseAll()">Collapse All</button>
  <button mat-raised-button (click)="consoleDebug()">Console Debug</button>
</div>
<fs-tree [config]="config" #tree>
  <ng-template 
      fsTreeNode 
      class="test"
      let-level="level"
      let-levelName="levelName"
      let-data="data"
      let-first="first"
      let-last="last"
      let-index="index">
    {{ data.name }} (ID: {{ data.id }})
  </ng-template>
</fs-tree>
