<div
    style="float: right"
    class="fs-row.gap-xs.wrap">
  <mat-button-toggle-group
      [value]="dragMode"
      (change)="dragModeChange($event.value)"
      aria-label="Drag mode">
    <mat-button-toggle [value]="TreeDragMode.Handle">
      Drag Handle
    </mat-button-toggle>
    <mat-button-toggle [value]="TreeDragMode.Node">
      Drag Node
    </mat-button-toggle>
  </mat-button-toggle-group>
  <button
      mat-stroked-button
      (click)="expandAll()">
    Expand All
  </button>
  <button
      mat-stroked-button
      (click)="collapseAll()">
    Collapse All
  </button>
  <button
      mat-stroked-button
      (click)="consoleDebug()">
    Console Debug
  </button>
</div>
<fs-tree
    [config]="config"
    #tree>
  <ng-template
      fsTreeNode
      class="test"
      let-level="level"
      let-levelName="levelName"
      let-data="data"
      let-first="first"
      let-last="last"
      let-index="index">
    {{ data.name }}
    (ID: {{ data.id }})
  </ng-template>
</fs-tree>