<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node"
                 matTreeNodeToggle
                 matTreeNodePadding>
    <div class="node"
         [draggable]="reorder"
         (dragstart)="handleDragStart($event, node);"
         (dragover)="handleDragOver($event, node);"
         (drop)="handleDrop($event, node);"
         (dragend)="handleDragEnd($event);"
         [ngClass]="{
            'drop-above': drag.expandOverArea === 'above' && drag.expandOverNode === node,
            'drop-center': drag.expandOverArea === 'center' && drag.expandOverNode === node,
            'drop-below': drag.expandOverArea === 'below' && drag.expandOverNode === node
          }">
      <div class="drop-indicator"></div>
      <div class="container">
        <button mat-icon-button disabled></button>

        <mat-checkbox class="checklist-leaf-node"
                      *ngIf="config.selection"
                      [checked]="checklistSelection.isSelected(node)"
                      (change)="checklistSelection.toggle(node);">
        </mat-checkbox>
        <div class="content">
          <ng-template
            [ngTemplateOutlet]="nodeTemplate || defaultNodeTemplate"
            [ngTemplateOutletContext]="node.data"
          ></ng-template>

          <fs-node-actions [actions]="actions" [node]="node">
          </fs-node-actions>
        </div>
      </div>
    </div>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild"
                 matTreeNodePadding>
    <div class="node"
         [draggable]="reorder"
         (dragstart)="handleDragStart($event, node);"
         (dragover)="handleDragOver($event, node);"
         (drop)="handleDrop($event, node);"
         (dragend)="handleDragEnd($event);"
         [ngClass]="{
            'drop-above': drag.expandOverArea === 'above' && drag.expandOverNode === node,
            'drop-center': drag.expandOverArea === 'center' && drag.expandOverNode === node,
            'drop-below': drag.expandOverArea === 'below' && drag.expandOverNode === node
          }">
      <div class="drop-indicator"></div>
      <div class="container">
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.filename">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-checkbox
          *ngIf="config.selection"
          [checked]="descendantsAllSelected(node)"
          [indeterminate]="descendantsPartiallySelected(node)"
          (change)="todoItemSelectionToggle(node)">
        </mat-checkbox>
        <div class="content">
          <ng-template
            [ngTemplateOutlet]="nodeTemplate || defaultNodeTemplate"
            [ngTemplateOutletContext]="node.data"
          ></ng-template>

          <fs-node-actions *ngIf="actions.length > 0" [actions]="actions" [node]="node">
          </fs-node-actions>
        </div>
      </div>
    </div>
  </mat-tree-node>
</mat-tree>

<ng-template #defaultNodeTemplate let-data="data">
  {{data}}
</ng-template>
