::ng-deep {
  .block-selection {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  }
}

.mat-checkbox {
  margin-right: 10px;
}

.blocked {
  opacity: 0.5;
}

.node {
  width: 100%;
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;

  .container {
    display: flex;
    align-items: center;

    .content {
      align-self: stretch;
      display: flex;
      flex-direction: row;
      align-items: center;
      //cursor: grab;
    }
  }
}

.mat-tree-node {
  overflow: visible;
  //align-items: stretch;
  flex-direction: column;

  &.draggable-elem {
    opacity: 0.6;
  }

  &.drag-over {
    background-color: #dddddd;
    border-radius: 2px;
  }

  .draggable-item {
    position: fixed;
    z-index: 999999;
    border: 1px dashed;
    background: #fff;
    opacity: 0.6;
    cursor: copy;

    &.no-drop {
      cursor: no-drop;
    }
  }

  ::ng-deep {
    .droppable-area {
      display: block;
      position: fixed;
      z-index: 99999;
      background: #dddddd;
      height: 10px;
    }
  }
}
