<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" [ngClass]="{ 'blocked': blocked }">
  <mat-tree-node *matTreeNodeDef="let node"
                 matTreeNodeToggle
                 matTreeNodePadding
                 [fsDraggableNode]="node"
                 [fsCanDrop]="config.canDrop"
                 (dragStart)="onDragStart($event)"
                 (drop)="onDrop($event)">
    <div class="node" fsDraggableNodeContent>
      <div class="container">
        <button mat-icon-button disabled></button>

        <mat-checkbox class="checklist-leaf-node"
                      *ngIf="config.selection"
                      [checked]="checklistSelection.isSelected(node)"
                      (change)="checklistSelection.toggle(node);">
        </mat-checkbox>
        <div class="content" [ngClass]="{'no-drag': !node.canDrag}" fsDraggableNodeTarget>
          <ng-template
            [ngTemplateOutlet]="nodeTemplate || defaultNodeTemplate"
            [ngTemplateOutletContext]="node.data"
          ></ng-template>
        </div>
        <fs-node-actions [actions]="actions" [node]="node">
        </fs-node-actions>
      </div>
    </div>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild"
                 matTreeNodePadding
                 [fsDraggableNode]="node"
                 [fsCanDrop]="config.canDrop"
                 (dragStart)="onDragStart($event)"
                 (drop)="onDrop($event)">
    <div class="node" fsDraggableNodeContent>
      <div class="container">
        <button mat-icon-button
                (click)="toggleNode(node)"
                [attr.aria-label]="'toggle ' + node.filename">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-checkbox
          *ngIf="config.selection"
          [checked]="descendantsAllSelected(node)"
          [indeterminate]="descendantsPartiallySelected(node)"
          (change)="todoItemSelectionToggle(node)">
        </mat-checkbox>
        <div class="content" [ngClass]="{'no-drag': !node.canDrag}" fsDraggableNodeTarget>
          <ng-template
            [ngTemplateOutlet]="nodeTemplate || defaultNodeTemplate"
            [ngTemplateOutletContext]="node.data"
          ></ng-template>
        </div>
        <fs-node-actions *ngIf="actions.length > 0" [actions]="actions" [node]="node">
        </fs-node-actions>
      </div>
    </div>
  </mat-tree-node>
</mat-tree>

<ng-template #defaultNodeTemplate let-data="data">
  {{data}}
</ng-template>
