<div style="float: right">
  <button mat-stroked-button (click)="expandAll()">Expand All</button>
  &nbsp;
  <button mat-stroked-button (click)="collapseAll()">Collapse All</button>
  &nbsp;
  <button mat-stroked-button color="primary" (click)="createRootNode()">Create new Level 1 Object</button>
</div>

<fs-tree [config]="config" #tree>
  <ng-template 
      fsTreeNode 
      let-data="data"
      let-first="first"
      let-last="last"
      let-index="index"
      let-node="node">
    {{ data.name }} (ID: {{ data.id }})
  </ng-template>
</fs-tree>
