@use 'node_modules/@angular/material' as mat;

@mixin fs-tree($theme) {

  $primary: mat.define-palette($theme);

  fs-tree {
    .droppable-area {
      background-color: mat.get-color-from-palette($primary) + #{33};
    }

    .mat-tree-node {
      &.drag-over .node {
        background-color: mat.get-color-from-palette($primary) + #{33};
      }
    }
  }
}
