@use '@angular/material' as mat;

@mixin fs-tree($theme) {

  $primary: mat.define-palette($theme);

  fs-tree {
    .droppable-area {
      background-color: color-mix(in srgb, mat.get-color-from-palette($primary) , transparent 80%);
    }

    .mat-tree-node {
      &.drag-over .node {
        background-color: color-mix(in srgb, mat.get-color-from-palette($primary) , transparent 80%);
      }
    }
  }
}
