@for (action of actions; track action) {
  @switch (action.type) {
    <!-- Menu -->
    @case (TreeActionType.Menu) {
      <fs-menu>
        @for (item of action.items; track item) {
          @if (item.isGroup) {
            <fs-menu-group
              [hidden]="!item.visible"
              [label]="item.label">
              @for (subItem of item.children; track subItem) {
                <ng-template
                  fs-menu-item
                  (click)="subItem.click(node)"
                  [link]="subItem.routerLink?.link"
                  [queryParams]="subItem.routerLink?.queryParams"
                  [hidden]="!subItem.visible">
                  {{ subItem.label }}
                </ng-template>
              }
            </fs-menu-group>
          }
          @if (!item.isGroup) {
            <ng-template
              fs-menu-item
              (click)="item.click(node)"
              [link]="item.routerLink?.link"
              [queryParams]="item.routerLink?.queryParams"
              [hidden]="!item.visible">
              {{ item.label }}
            </ng-template>
          }
        }
      </fs-menu>
    }
    <!-- /Menu -->
  }
}
