<div style="float: right">
  <mat-button-toggle-group
      [value]="dragMode"
      (change)="dragModeChange($event.value)"
      aria-label="Drag mode">
    <mat-button-toggle [value]="TreeDragMode.Handle">
      Drag Handle
    </mat-button-toggle>
    <mat-button-toggle [value]="TreeDragMode.Node">
      Drag Node
    </mat-button-toggle>
  </mat-button-toggle-group>
  &nbsp;
  <button mat-stroked-button (click)="expandAll()">Expand All</button>
  &nbsp;
  <button mat-stroked-button (click)="collapseAll()">Collapse All</button>
  &nbsp;
  <button mat-stroked-button color="primary" (click)="createRootNode()">Create new Level 1 Object</button>
</div>

<fs-tree [config]="config" #tree>
  <ng-template fsTreeNode let-data="data">
    <a class="primary">{{ data.name }} (ID: {{ data.id }})</a>
  </ng-template>
</fs-tree>
