<div style="float: right">
  <button mat-raised-button (click)="expandAll()">Expand All</button>
  &nbsp;
  <button mat-raised-button (click)="collapseAll()">Collapse All</button>
  &nbsp;
  <button mat-raised-button color="primary" (click)="createRootNode()">Create new Level 1 Object</button>
</div>

<p>With max depth 2 and without selection</p>

<fs-tree [config]="config" #tree>
  <ng-template fsTreeNode let-name="name" let-id="id">
    <a class="primary">{{ name }} (ID: {{ id }})</a>
  </ng-template>
</fs-tree>
