<fs-examples [config]="config">
  <fs-example name="Full example" componentName="example">
    <example></example>
  </fs-example>

  <fs-example name="Actions" componentName="actions">
    <actions></actions>
  </fs-example>

  <fs-example name="Limit and Without Selection" componentName="levels-limit">
    <levels-limit></levels-limit>
  </fs-example>

  <fs-example name="1st-Level Fixed Order, 2nd-Level Manage Order" componentName="fixed-manage-ordering">
    <fixed-manage-ordering></fixed-manage-ordering>
  </fs-example>

  <fs-example name="1st-Level Manage Order, 2nd-Level Fixed Order" componentName="manage-fixed-ordering">
    <manage-fixed-ordering></manage-fixed-ordering>
  </fs-example>

  <fs-example name="1st-Level Fixed Order, 2nd-Level Fixed Order" componentName="fixed-fixed-ordering">
    <fixed-fixed-ordering></fixed-fixed-ordering>
  </fs-example>
</fs-examples>
